*{
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  color:#000;
  font-family: 'Noto Sans KR', sans-serif;

  }
h1{
  font-size: 48px;
  font-weight: 200;
}
.contents1{
  font-size: 20px;
  font-weight:lighter;
}
.contents1_bold{
  font-size: 18px;
  font-weight: bold;
}
.contents2{
  font-size: 15px;
  font-weight:lighter;

}
.contents3{
  font-size: 14px;
  font-weight: 100;
}

.result{
  font-size: 24px;
  
}

.intro_bg
  {background-image: url("image/pink sea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 718px;
}
.header{
  display: flex;
  width:1280px;
  margin:auto;
  background: rgba(0,0,0,0.0);
  height:86px;

}
.searcharea{
  width:300px;
  height:40px;
  border-radius: 5px;
  background: rgba(0,0,0,0.5);
  margin-top: 24px;
  color:#fff;


}
.searcharea > form > input{
  border:none;
  width: 250px;
  background: rgba(0,0,0,0);
  height: 40px;
  padding-left: 10px;
  color: white;

}
.searcharea > form > span{ 
  width:50px;
  color:white;
  font-weight: bold;
  cursor: pointer;

}
.nav{
  display: flex;
  justify-content: flex-end;
  line-height: 86px;
  width:calc(1280px- 300px);
  color:#fff;
}
.nav>li{
  margin-left: 84px;
}
nav>li>a{
  color:white;
  font-size: medium;
}
.intro_text{
  width: 100%;
  margin: 231px auto 231px auto;
  /* 좌우는 오토 상하는 231px */
  background: rgba(0,0,0,0);
  text-align: center;
}
.intro_text > h1,
.intro_text > h4{
  color:black;

}
.amount{
  position: relative;
  top:-66px;
  width: 1280px;
  display: flex;
  background: white;
  margin: auto;
  box-shadow: 5px 10px 3px rgba(0,0,0,0.1);
  /* 우측,하단,우측으로 흩뿌려지는 그림자*마이너스하면 왼쪽으로됨 */
}
.amount >li{
  flex:1;
  height: 132px;
  background-color: #fff;

}
.amount >li > div{
  text-align: center;
  height: 57px;
  margin-top:37px;
  border-right: 1px solid gray;
}
.amount >li:not(last child) > div{
  border-right: 1px solid #e1e1e1;
   /* 해당 선택자는 전부 첫번째 요소이면서 마지막 요소이다 왜냐면 하나밖에 없잖아; */
}

/* main_tex0 */
.main_text0{
  width: 100%;
  height: 601px;
  margin-top:-132px;
  background: #f1f2f3;
}
.main_text0 > h1{
  padding-top: 116px;
  text-align: center;
}
.main_text0 > .contents1{
  text-align: center;
}
.icons{
  text-align: center;
  display: flex;
  width: 1280px;

  margin: auto;
  
}
.icons > li{
  flex:1; 
  height: 302px;
  background: white;
  margin-top: 49px;
  text-align: center;
}
.icons > li > .icon_img{
  margin-top: 36px;
}
.icons > li:not(:last-child){
  margin-right: 20px;
}
.icons .contents2{
  width: 190px;
  margin: auto;
  letter-spacing: -1px;
}
.more{
  width: 100px;
  height: 30px;
  background: #2f7af4;
  color: #fff;
  margin: 14px auto; 
  /* 상하 순서 */
  font-size: 12px;
  line-height: 30px;
}
/* main_text1 시작 */
.main_text1{
  width: 100%;
  height: 659px;
}

.main_text1 h1{
  padding-top: 50px;
  text-align: center;
}
.main_text2 > .contents1{
  text-align: center;
}
.best{
 width: 1280px;
 display: flex;
 height: 427px;
 margin: 49px auto;
}
.bestphoto{
  flex: 1;
  text-align: center;
}
.best > .bestphoto:not(:last-child){
  margin-right: 20px;
}

.service{
  width: 1280px;
 display: flex;
 height: 427px;
 margin: 49px auto;

}

.service > .contents2{
  width: 600px;
  height: 300px;
  padding: 20px;
  margin: auto;
}
.service > .contents2 > h2{
  margin-bottom: 27px;
}
.main_text2{
  width: 100%;

}
.main_text2 h1{
  padding-top: 50px;
  text-align: center;
}

.record{
  position: relative;
}
  
.record:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border: 5px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.15);
  }
